.nav_background
.navbar.admin_nav
  .navbar-inner
    %a.brand{:href => "#"} Screen Slide Admin
    %ul.nav
      %li.active
        %a{:href => "#"} Screen 1
      %li
        %a{:href => "#"} Screen 2
.alert_holder