#img_Modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Add Image
  .modal-body
    %input{:placeholder => "Artist", :type => "text"}/
    %input{:placeholder => "Title", :type => "text"}/
    %input{:placeholder => "Date", :type => "text"}/
    
    
      
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    %button.btn.btn-primary#img_save Save changes