/*= require normalize-css/normalize */
/*= require bootstrap.min/index */
/*= require typeahead.js-bootstrap.css/typeahead.js-bootstrap.css */
/*= require jquery.ui/themes/base/jquery.ui.base */
/*= require jquery.ui/themes/base/jquery.ui.theme */
/*= require jquery.ui/themes/base/jquery.ui.core */
/*= require jquery.ui/themes/base/jquery.ui.datepicker */
/*= require variable_width/index */
/*= require bootstrap-select/bootstrap-select.min */

@import "susy";
@import "base_scss/base";
@import "markdown";

body,html {
  height:100%;
}

.main{
  height:100%;
}

.slide_item{
  width: 200px;
  margin: 15px;
  background: rgba(220, 220, 220, 0.75);
  height: 225px;
  float: left;
  position: relative;
  overflow: hidden;
  img{
    height: 150px;
    width: 150px;
    float: left;
    margin: 25px;
    margin-bottom: 8px;
  }
  .delete_slide{
    position: absolute;
    top: 0;
    right: 0;
  }
  .slide_meta{
    width: 200px;
    float: left;
    padding: 0px 10px 0px 10px;
    span{
      display:block;
    }
  }
}

.save_json{
  float:right;
}

.modal.large{
    width: 780px;
    margin-left: -390px; /* - width/2 */
}

#video_Modal{
  .modal-body{
    max-height:700px;
  }
}

.hidden{
  display:none;
}

.admin_nav{
  &.navbar{
    padding:0px 15px 0px 15px;
  }
}

.test_main{
  .list_of_slides{
    padding-top:173px;
    width:100%;
  }
}


#drop_zone{
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font-size: 20pt;
  color: #bbb;
}
.checkbox{
  display: inline-block;
  margin-left: 9px;
  margin-bottom: 0;
}
.admin_nav{
  position:fixed;
  left:0px;
  right:0px;
  top:37px;
  z-index:1;
}
.slide_control{
  position: fixed;
  left:15px;
  right:15px;
  top:105px;
  z-index:1;
}

.alert_holder{
  position: fixed;
  left:15px;
  right:15px;
  top:105px;
  z-index:2;
  
}

.nav_background{
  position: fixed;
  left:15px;
  right:15px;
  top:0px;
  height:173px;
  z-index:1;
  background-color: rgb(255, 255, 255);
}

.tt-dropdown-menu{
  width:600px;
}

.tt-suggestion{
  p{
    min-height:100px;
  }
  img{
    max-height:100px;
    max-width:100px;
    width:auto;
    height:auto;
  }
  span{
    display:block;
    float:right;
    width:425px;
  }
}